[submodule "src/qwiic_joystick"]
	path = src/qwiic_joystick
	url = git@github.com:kirk-sfe/qwiic_joystick.git
[submodule "src/qwiic_ccs811"]
	path = src/qwiic_ccs811
	url = git@github.com:kirk-sfe/qwiic_ccs811.git
[submodule "src/qwiic_bme280"]
	path = src/qwiic_bme280
	url = git@github.com:kirk-sfe/qwiic_bme280.git
[submodule "src/qwiic_rfid"]
	path = src/qwiic_rfid
	url = git@github.com:kirk-sfe/qwiic_rfid.git
[submodule "src/qwiic_twist"]
	path = src/qwiic_twist
	url = git@github.com:kirk-sfe/qwiic_twist.git
[submodule "src/qwiic_keypad"]
	path = src/qwiic_keypad
	url = git@github.com:kirk-sfe/qwiic_keypad.git
[submodule "src/qwiic_relay"]
	path = src/qwiic_relay
	url = git@github.com:kirk-sfe/qwiic_relay.git
[submodule "src/qwiic_vcnl4040"]
	path = src/qwiic_vcnl4040
	url = git@github.com:kirk-sfe/qwiic_vcnl4040.git
[submodule "src/qwiic_ak975x"]
	path = src/qwiic_ak975x
	url = git@github.com:kirk-sfe/qwiic_ak975x.git
